<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMI CALCULATOR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container">
        <h1>BMI Calculator</h1>
        <form action="{{url_for('calculate')}}" method="POST">
            <label for="gender" >Gender:</label>
            <select name="gender" id="gender" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select><br><br>

            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required><br><br>

            <label for="weight">Weight(KG):</label>
            <input type="number" step="0.1" id="weight" name="weight" required><br><br>

             <label for="height">Height(Meters):</label>
            <input type="number" step="0.01" id="height" name="height" required><br><br>

            <input type="submit" value="calculate BMI">

        </form>
    </div>
</body>
</html>